dnspython==2.3.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
pymongo==4.3.3
setuptools==67.8.0
torch==1.13.1
typing-extensions==4.6.3
wheel==0.40.0
